.box{
    width: 400px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 20px;
}

.slide-img{
    height: 250px;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background: yellow; */
}

.type{
    display: flex;
    flex-direction: column;
    /* background: blue; */
}

.type p{
    color: #222;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.type span{
    color: rgba(26, 26, 26, 0.5);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.price{
    color: #333;
    font-weight: 600;
    font-size: 15px;
    /* background: red; */
}

.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(199, 199, 204, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn{
    width: 160px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 50px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    display: flex;
}

.buy-btn:hover{
    color: #fff;
    background: #000;
    transition: all ease 0.3s;
}

.overlay{
    visibility: hidden;
}

.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}